.hero__section {
      height: 30vh;
      text-align: center;
      /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.hero__section > h1 {
      font-size: 5rem;
      text-transform: capitalize;
}

.hero__section span {
      margin-top: .6rem;
      display: block;
      font-size: 5rem;
      font-weight: bold;     
      animation: fadeTextAnimation 1s ease-in
}


@keyframes fadeTextAnimation {
      0%{
         opacity: .95;
            transform: translateY(5rem);
      }


      50% {
            opacity: 1;
            transform: translateY(0);
      }
}

.hero__section button{
      position: absolute;
      bottom: 0;
}

